<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FoldersToWatch" type="System.Configuration.DictionarySectionHandler"/>
    <section name="FoldersToMove" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appSettings>
    <add key="DefaultCulture" value="en-US" />
    <add key="RussianCulture" value="ru-RU" />
  </appSettings>
    <FoldersToWatch>
      <add key="Temp" value="c:\Temp\"/>
      <add key="Downloads" value="c:\Users\Yauheniya_Strelkova\Downloads\"/>
    </FoldersToWatch>
    <FoldersToMove>
      <add key="Pictures" value="Directory.GetCurrentDirectory()}\Pictures"/>
      <add key="Music" value="Directory.GetCurrentDirectory()}\Music"/>
      <add key="Documents" value="Directory.GetCurrentDirectory()}\Documents"/>
      <add key="Default" value="Directory.GetCurrentDirectory()}\Default"/>
    </FoldersToMove>
</configuration>